@font-face {
    font-family: proxima-nova;
    src: url(../fonts/proximanova_regular.ttf);
}

:root {
    --main-bg-color: white;
    --main-color: black;
}

body {
    margin: 0;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

h1 {
    font-size: 72px;
}

p {
    font-size: 24px;
}

marquee {
    text-transform: uppercase;
    font-weight: 700;
}

.vl {
    border-left: thin solid var(--main-color);;
    display: inline-block;
	vertical-align: top;
}

.active {
    font-weight: bold;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.highlight-text {
    color: white;
    background-color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.stretched-text {
    font-stretch: 50%;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande";
}

/* Header */

.header {
    width: 100%;
    height: 70px;
    position: sticky;
    top:  0;
	left: 0;
	right: 0;
    z-index: 1000;

    padding-top: 30px;

    background-color: var(--main-bg-color);;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
    text-decoration: none;
    color: var(--main-color);;
    font-family: proxima-nova, sans-serif;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation */

.nav {
	text-transform: uppercase;
	font-size: 14px;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;

	color:  var(--main-color);;
	text-decoration: none;

	/* transition:  color .1s linear; */
}

/* Intro */

.intro {
    padding: 75px 0;
}

.intro__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro__motto {
    text-decoration: line-through;
    text-decoration-color: #088CE8;
    text-decoration-thickness: 0.8rem;
}

.intro__photo {
    max-width: 33%;
    border-radius: 15px;
}

.jobs__job {
    border: gray 1px solid;
    border-radius: 25px;
    padding: 10px;
}

.job__header {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin: 20px;
}

.job__header img {
    width: 200px;
    max-height: 170px;
}

/* Contacts */

.contacts__inner {
    padding: 8px 0;
}

.contacts__set {
    display: flex;
    justify-content: space-between;
}

.contacts__contact {
    margin: 8px 0;
    padding: 0;
}

.contact__label {
    font-size: 20px;
    font-weight: bold;
}

.contact__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__icon {
    width: 100%;
    height: 35px;
}

.contact__link {
    font-size: 24px;
    padding-left: 10px;
}

/* Footer */

.footer {
    width: 100%;
    height: 35px;
    position: sticky;
    bottom:  0;
	left: 0;
	right: 0;
    z-index: 1000;

    padding-top: 15px;

    background-color: var(--main-bg-color);
    font-size: 8px;
}

.footer__logo {
	font-size: 14px;
	font-weight: 700;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
